<!-- .row*2>.col -->
<div class="row">
  <div class="col">
    <app-search-form
      [query]=" query$ | async"
      (queryChange)="search($event)">
    </app-search-form>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-albums-grid 
      [albums]="albums$ | async">
    </app-albums-grid>  
  </div>
</div>