<!-- https://getbootstrap.com/docs/4.1/components/card/#card-groups -->
<!-- 
  .card-group>.card>img.card-img-top.card-body>h5.card-title
-->

<div class="card-group">

 <app-album-card 
  *ngFor="let album of albums"
    [album]="album">
 </app-album-card>

</div>

{{getRandom()}}