<!-- .form-group.mb-3>input.form-control -->

<div class="form-group mb-3" [formGroup]="queryForm">
  <input type="text" class="form-control" formControlName="query" />

  <ng-container *ngIf="queryForm.get('query') as field">
      <ng-container *ngIf="field.dirty || field.touched">

        <div *ngIf="field.hasError('required')">
          Field is required
        </div>
        
        <div *ngIf="field.getError('minlength') as error">
          Minimum length is '{{ error.requiredLength}}' characters
        </div>
        
        <div *ngIf="field.getError('censor') as error">
          Query cannot contain word '{{ error.badword}}'
        </div>
        
      </ng-container>
  </ng-container>

  <!-- <form-feeback [field]="queryForm.get('query')"></form-feeback> -->

</div>
