:host-context(.theme-pink) p{
    color: hotpink;
}

:host(.bordered){
    display: block;
    border: 1px solid black;
}

.list-group-item{
    border-left: 10px solid;
}

/* :host ::ng-deep p {
    color:red;
} */