<div class="list-group">


  <div class="list-group-item"
        [class.active]=" selected == playlist"
        (click)="select(playlist)"

        [appHighlight]="playlist.color" 
        
        *ngFor="let playlist of playlists; index as i;
        trackBy trackFn">
        
        {{i+1}}. {{playlist.name}}
      </div>
      
    </div>
    
<!--     
    [style.borderLeftColor]="hover === playlist? playlist.color : ''"       
    (mouseenter)="hover = playlist"
    (mouseleave)="hover = null" -->